*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem = 10px, 10/16 = 62.5% */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.fadeIn {
  animation: fadeIn 1.5s linear 0.5s;
  animation-fill-mode: forwards; }

.fadeInLeft {
  animation: fadeInLeft 1.5s linear;
  animation-fill-mode: forwards; }

.fadeInRight {
  animation: fadeInRight 1.5s linear;
  animation-fill-mode: forwards; }

.fadeInUp {
  animation: fadeInUp 1s linear;
  animation-fill-mode: forwards; }

.header {
  position: relative;
  animation: fadeIn 1s ease forwards;
  opacity: 0;
  background-color: #ebebeb; }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    animation: fadeInLeft 1s ease 2s forwards;
    opacity: 0; }
    .header__nav--logo {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1rem;
      border-radius: 50%;
      padding: 1.5rem;
      background-color: #68c7c6;
      cursor: pointer;
      transition: all 300ms ease; }
      .header__nav--logo:hover {
        top: -20rem;
        left: -20rem;
        padding: 1.5rem 65rem 65rem 1.5rem;
        cursor: default;
        background-color: #22888b; }
      .header__nav--logo:hover .header__nav--list {
        opacity: 1;
        bottom: 11rem;
        left: 25rem; }
      .header__nav--logo img {
        height: 5rem; }
    .header__nav--list {
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 0;
      list-style: none;
      transition: all 300ms ease; }
    .header__nav--item {
      margin-bottom: 3rem; }
    .header__nav--link {
      padding: 0 1rem;
      text-decoration: none;
      color: white;
      font-size: 3.6rem;
      transition: all 300ms ease; }
      .header__nav--link:hover {
        color: #f3de58; }

.landing {
  height: 100vh;
  width: 100%;
  -webkit-clip-path: polygon(70% 0, 100% 0, 100% 100%, 28% 100%);
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 28% 100%);
  background-image: linear-gradient(to bottom, rgba(56, 48, 49, 0.6), rgba(56, 48, 49, 0.6)), url("../img/back.jpg");
  background-size: cover;
  background-position: center; }
  @media (max-width: 37.5em) {
    .landing {
      background-position: 56%; } }

.showcase {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 20%;
  animation: fadeInRight 1s ease 1s forwards; }
  .showcase__main {
    font-size: 7rem;
    font-weight: 400;
    color: #68c7c6; }
  .showcase__sub {
    font-size: 3rem;
    color: #f3de58; }

#about {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  #about h1 {
    font-size: 4rem; }
  #about p {
    font-size: 1.7rem; }
